<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VigiaLab - Cadastro</title>
    <link rel="stylesheet" href="../CSS/cadastro.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="cadastro-container">
        <div class="cadastro-header">
            <h2>Bem-Vindo ao <span>VigiaLab</span></h2>
            <p>Preencha os dados abaixo para começar</p>
        </div>

        <form action="#" method="POST">
            <div class="input-group">
                <label for="nome">Nome Completo</label>
                <input type="text" id="nome" name="nome" placeholder="Digite seu nome" required>
            </div>

            <div class="input-group">
                <label for="email">E-mail Institucional</label>
                <input type="email" id="email" name="email" placeholder="entre com o @escola" required>
            </div>

            <div class="input-row">
                <div class="input-group flex-1">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" name="senha" placeholder="Mínimo 8 caracteres" required>
                </div>
                <div class="input-group flex-1">
                    <label for="confirma-senha">Confirmar Senha</label>
                    <input type="password" id="confirma-senha" name="confirma-senha" placeholder="Confirmar senha" required>
                </div>
            </div>

            <div class="input-group">
                <label for="perfil">Tipo de Perfil</label>
                <select id="perfil" name="perfil" required>
                    <option value="" disabled selected>Selecione a sua função...</option>
                    <option value="professor">Professor Regente</option>
                    <option value="admin">Coordenador / Administrador </option>
                </select>
            </div>

            <button type="submit" class="btn-cadastrar">Cadastrar</button>

            <div class="cadastro-footer">
                <p>Já tem uma conta? <a href="login.html">Faça login</a></p>
            </div>
        </form>
    </div>
</body>
</html>